/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./fonts/poppins-v20-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./fonts/poppins-v20-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  height: 100%;
  background-color: #1d1d1d;
  font-family: 'Poppins';
}

.mt-ts__container {
  width: 100%;
  position: relative;
  --timeline-current-position-color: rgb(0, 163, 125);
  --timeline-current-position-height: 0px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../examples/portrait.png),    linear-gradient(120deg, rgb(0 0 0) 0%, rgb(0 227 197) 100%);
  background-attachment: fixed;
  background-position-x: center;
}

.mt-ts__content-wrapper {
  width: calc(100% - 420px);
  margin-top: 210px;
  margin-bottom: 210px;
/* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.mt-ts__event--visible {
  opacity: 1 !important;
  transform: translate(0) !important;
}

.mt-ts__timeline::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 4px;
  /* background-color: #fff; */
  /* border-color: red; */
  /* border: gray; */
  /* border-style: solid; */
  border-radius: 20px;
}
#canvas {
  cursor: crosshair;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.mt-ts__timeline-current-position::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 50%;
  height: var(--timeline-current-position-height);
  transform: translateX(-50%);
  width: 4px;
  background-color: var(--timeline-current-position-color);
  transition: all 2s;
}



.mt-ts__event {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
  max-width: 70%;
}

.mt-ts__column-one {
  text-align: right;
}

.mt-ts__column-two {
  text-align: left;
}


.mt-ts__date {
  font-size: 46px;
  font-weight: bold;
}

.mt-ts__header {
  font-size: 46px;
}

.mt-ts__content {
  font-size: 24px;
}
